<code style="font-size: 13.6px;padding: 0.2em 0.4em;border-radius: 3px;display: block;overflow: auto;text-wrap: wrap;font-family: mononoki, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Noto Color Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Android Emoji&quot;, EmojiSymbols;background-size: 20px 20px;background-image: none;word-break: break-word;overflow-wrap: normal;background-color: rgba(27, 31, 35, 0.05);max-height: 1000px;color: var(--vscode-editor-foreground) !important;border-color: var(--vscode-quickInputTitle-background) !important;">