<p>
    <span
        style="padding-top: 8px;padding-bottom: 8px;display: inline;font-size: 14px;width: 90%;padding: 0px;margin: 0;line-height: 26px;color: black;word-break: break-all;width: calc(100%-50);">[{}] {}: <em style="font-style: italic; color: black;">{}</em>
    </span>
</p>